.site-header {
    background-color: black;
    color: white;
    padding: 10px 0;
    .logo {
        h2 {
            margin: 0;
        }
        a {
            img {
                width: 300px;
            }
        }
    }
}

.navigation-menu {
    .menu-list {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    margin: 0 10px;
}